# Scientific computing with Python

## Data frame libraries

- [Pandas](https://pandas.pydata.org/): the standard data frame library in Python.
- [Polars](https://pola.rs/): alternative faster data frame implementation.

## Free introductions

- [Python for Scientific Computing](https://aaltoscicomp.github.io/python-for-scicomp/)

## Advanced books

- [Numerical Python](https://www.amazon.com/Numerical-Python-Scientific-Applications-Matplotlib-dp-B0D2CHYKQR/)
- [Learning Scientific Programming with Python](https://www.amazon.com/Learning-Scientific-Programming-Python-Christian/dp/1108745911/)