.bio {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    max-width: 40em;

    & img {
        margin-top: 0.5em;
        margin-bottom: 2em;
        box-shadow: 0.5em 0.5em 0.5em var(--background_accent);
        width: 12em;
        height: 12em;
        border: var(--border);
        border-radius: 0%;

    }

    & h1,
    & h2,
    & h3,
    & h4 {
        font-family: "Poiret One";
        text-align: center;
    }


    & p {
        text-align: center;
        line-height: 1.7;
    }

}