@import "./vars.css";


code {
    font-family: "Fira Code";
}

p code,
li code {
    // background-color: var(--secondary);
    padding: 0 0.2em;
    background-color: var(--code);
    border: var(--border)
}


pre {
    background-color: var(--code) !important;
    padding: 1em;
}