@import "./vars.css";


code {
    font-family: "Fira Code";
}

p code,
li code {
    padding: 0 0.2em;
    /* background-color: #BBD8A3; */
    /* border: var(--border); */

    font-weight: 550;
    word-wrap: break-word;
}


pre {
    background-color: var(--code_background) !important;
    padding: 1em;
}
