@import "./colors_borders.css";

main {
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--content_background);
}




article {
    margin-left: 0em;
    padding: 1.5em;
    max-width: 40em;
    width: 100%;
}

main a {
    color: var(--accent);
}

ul.tags {
    display:flex ;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-variant-caps: all-petite-caps;
    font-style: italic;
}

ul.post_top_headers {
    list-style:none;
    padding: 0;
    margin: 0;
}

img {
    box-shadow: 0.5em 0.5em 0.5em var(--navigation_background);
    width: 12em;
    height: 12em;
    object-fit: cover;

    border: var(--border);
    border-radius: 100%;
}



hr {
    border: var(--border);

}

.bio {

    line-height: 1.5;
}

pre {
    
    padding: 1em;
}

pre,
table {
    border: var(--border);
   
    box-shadow: 0.5em 0.5em 0.5em var(--navigation_background);
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    display: block;
    width: fit-content;
    max-width: 100%;
    background: white;
    overflow-x: auto;
}

td,
th {
    border: var(--border);
    padding: 0.6em;
}

@media (max-width: 1000px) {
    main {
        margin-left: 0;
        margin-right: 0;


    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

     img {
        display: block;
        margin: auto;
        width: 50vw;
        height: 50vw;
    }
}

/* Hack to make flex listen to hidden */
[hidden] {
    display: none !important;
}