@import "./vars.css";


@media screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }


    main {
        flex-direction: column;


        & article {
            padding: 3em;
            max-width: var(--text-width);
        }
    }

    aside {
        flex-direction: column;

        align-items: center;
        padding: 2em;
        width: 250px;
        height: 100vh;

        border-right: var(--border);

        & img {
            margin-top: 2em;
            height: 4em;
        }

        & ul {
            padding: 1.5em;
            display: flex;
            flex-direction: column;


            & li {

                flex-direction: column;

                & ul {
                    display: flex;
                }
            }


        }

        & a#back-to-top {
            display: none;
        }



    }
}