@import "./vars.css";


@media screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }


    main {
        flex-direction: column;


        & article {
            padding: 3em;
            max-width: var(--text-width);
        }
    }

    aside {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 2em;
        width: 250px;
        height: 100vh;

        border-right: var(--border);

        & img {
            padding: 1em;
            height: 6em;
        }

        & ul {
            padding-top: 1em;
            gap: 2.5em;
            display: flex;
            flex-direction: column;


            padding-left: 0em;

            & li {

                flex-direction: column;

                & ul {
                    font-size: 0.8em;
                    padding-top: 1em;
                    padding-left: 0.5em;
                    gap: 1em;
                    display: flex;
                }
            }


        }

        & a#back-to-top {
            display: none;
        }



    }
}