h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
td,
th {
    font-family: "Inter", sans-serif;

}

h1 {
    margin-bottom: 0;
}

ul.tags {

    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-variant-caps: all-petite-caps;
    font-style: italic;
}

ul.post_top_headers {
    list-style: none;
    padding: 0;
    margin: 0;
}