body {
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 800px) {



    body {
        flex-direction: column;

    }

    aside {
        justify-content: center;
        flex-direction: row;
        min-width: 100%;
        height: fit-content;
        padding: 0em 0.8em;
        border-right: none;
        border-bottom: var(--border);
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;

        & img {
            height: 1.5em;

        }

        & ul {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 1em;
            margin: 0;
            padding: 0.7em;
            max-width: 100%;
            overflow-x: scroll;
            

            & li {
                text-wrap: nowrap;
                display: flex;
                padding: 0;
                flex-direction: row;
                gap: 0.5em;
                margin: 0;

                & ul {
                    display: none;

                }
            }
        }

        & .filler {
            display: flex;
            flex-grow: 1;
        }

        & a#back-to-top {
            text-decoration: none;
        }
    }

    main {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}