@import "./vars.css";

* {
    color: black;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    font-style: italic;
}


a {
    text-decoration: underline;
    text-decoration-color: var(--emphasis_accent);
    word-wrap: break-word;
}


a:hover {
    color: var(--emphasis_accent);
}

article {
    text-align: left;
    margin-left: 0em;
    padding: 1.5em;
    max-width: 40em;
    width: 100%;
}



hr {
    border: var(--border);

}

pre,
table {
    border: var(--border);

    box-shadow: 0.5em 0.5em 0.5em var(--background_accent);
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    display: block;
    width: fit-content;
    max-width: 100%;
    background: var(--code_background);
    overflow-x: auto;
}

td,
th {
    border: var(--border);
    padding: 0.6em;
}



h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
td,
footer,
th {
    font-family: "Inter", sans-serif;

}

h1 {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
}



ul.tags {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-variant-caps: all-petite-caps;
    font-size: 0.8em;
}

ul.post_top_headers {

    padding: 0;
    margin: 0;
    list-style-type: decimal;

}

ul {
    list-style-position: outside;


    padding-left: 1em;

    & li {
        margin: 0.4em;
    }


}


.post_date {
    font-style: italic;
}

details {



    & summary {
        list-style: outside;
    }

    & summary::marker {
        width: 2em;
        height: 2em;
        color: transparent;
    }
}