@import "./navbar.css";
@import "./prose.css";
@import "./post.css";
@import "./bio.css";
@import "./code.css";
@import "./frames.scss";
@import "./headers.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}


