@import "./navbar.css";
@import "./prose.css";
@import "./post.css";
@import "./bio.css";
@import "./code.css";
@import "./desktop_layout.scss";
@import "./mobile_layout.scss";


@import "./vars.css";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}



body {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    & aside {
        display: flex;
        gap: 0.5em;
        background-color: var(--background_accent);
        padding: 0;
        margin: 0;



        & ul {
            display: flex;
            list-style: none;

            gap: 1.5em;
            margin: 0em;


            & li {

                display: flex;
                gap: 1em;

                & a {}

                & ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    gap: 0.5em;
                    list-style: none;



                    & a {}


                    & li {}
                }
            }


        }



    }

    & main {
        display: flex;

        width: 100%;
        height: 100%;
        max-width: 100%;

        overflow-y: auto;
        background-color: var(--prose_background);

        & article {
            max-width: var(--text-width);
        }
    }
}










#meta {
    font-size: 0.8em;
}