:root {
    --code_background: #ffffff;
    --prose_background: #e3feff;
    --background_accent: rgb(155, 243, 255);
    --border: 0.05em solid var(--emphasis_accent);
    --emphasis_accent: #007aaf;
    --text-width: 700px;
}