:root {
    --code_background: #ffffff;
    --prose_background: #eaffff;
    --background_accent: rgb(190, 242, 250);
    --border: 0.05em solid var(--emphasis_accent);
    --emphasis_accent: #2bbfff;
    --text-width: 700px;
}