:root {
    --code_background: #F0F1C5;
    --prose_background: #FFFFFF;
    --background_accent: #BF9264;
    --border: 0.05em solid var(--emphasis_accent);
    --emphasis_accent: #6F826A;
    --text-width: 850px;
}
