/* Global Variables */
:root {
    --content_background: #daf3ff;
    --navigation_background: #b9e9ff;
    --border: 0.05em solid black;
    --text_body_color: #222;
    --accent: #0366d6;
    --focus: #0099da;
    --left-margin: 2em;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;

}

/* ===== */
/* Fonts */
/* ===== */

a,
p,
li,
td,
th {
    font-family: "Inter", sans-serif;
    color: var(--text_body_color);
}

#meta {
    font-size: 0.8em;
}

code {
    font-family: "Fira Code";

}

h1,
h2,
h3 {
    font-family: "Poiret One";

    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    font-style: italic;
}




/* ======= */
/* Sidebar */
/* ======= */
aside#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 250px;
    width: fit-content;
    height: 100vh;
    background-color: var(--navigation_background);
    padding: 1em;
    overflow-y: scroll;
    border-right: var(--border);
}


li#home-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--accent);

}

li#home-button:hover {
    text-decoration: underline;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0em;
}

#sidebar li {
    margin-bottom: 0.8em;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--focus);
}

/* ================================== */
/* Main content background and layout */
/* ================================== */

#content_background {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--content_background);
}

main {
    margin-left: 0em;
    padding: var(--left-margin);
    max-width: 40em;

}

#blog_page {
    width: 100%;
}




/* =============== */
/* Content styling */
/* =============== */

#start_page img {
    box-shadow: 0.5em 0.5em 0.5em var(--navigation_background);
    width: 12em;
    height: 12em;
    object-fit: cover;

    border: var(--border);
    border-radius: 100%;
}

main a {
    color: var(--accent);

}

hr {
    border: var(--border);
    margin-left: calc(-1 * var(--left-margin));
    width: 100vw;
}

.bio {

    line-height: 1.5;
}



pre,
table {

    border: var(--border);
    box-shadow: 0.5em 0.5em 0.5em var(--navigation_background);
}

table {
    border-collapse: collapse;
    display: block;
    width: fit-content;
    max-width: 100%;
    background: white;
    overflow-x: auto;
}

td,
th {
    border: var(--border);
    padding: 0.3em;
}



/* Mobile Responsiveness */
@media (max-width: 1000px) {


    body {
        flex-direction: column;
        font-size: 2em;
    }

    /* ========================= */
    /* Horizontal navigation bar */
    /* ========================= */
    aside#sidebar {

        flex-direction: row;
        min-width: 100%;
        max-width: 100%;
        ;
        height: fit-content;
        padding: 0.5em;
        border-right: none;
        border-bottom: var(--border);
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    #sidebar ul {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
    }

    #sidebar li {
        text-wrap: nowrap;

        margin: 0;
    }

    /* ============ */
    /* Wide content */
    /* ============ */




    main {
        margin-left: 0;
        margin-right: 0;

        padding: 1em;
    }

    #start_page {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #start_page img {
        display: block;
        margin: auto;
        width: 50vw;
        height: 50vw;
    }


}

[hidden] {
    display: none !important;
}