# TypeScript

TypeScript is a language popularized by Microsoft that extends JavaScript with types.

1. [Functional programming in TypeScript](./01-fp)
2. [Types in TypeScript](./02-types)
3. [Object-oriented programming in TypeScript](./03-oop)
4. [Generic programming in TypeScript](./04-generic)
5. [Conditional types in TypeScript](./05-conditional-types)
6. [Publisher-subscriber pattern](./06-pub-sub)