# Projects

At work and in my spare time I created a few programming projects.

## Data structures

- **Reactive Combinator** library. Bind different observables and filter sets of observables. (TypeScript)
- **Reactive HashMaps** library. BTree-like structure that behaves as an [RxJS array observable](https://rxjs.dev/guide/overview) of key-value pairs. Although the keys are not reactive, the values of the map are and their values can be reverted to an initial value. (TypeScript)
- **Distributed data store** library. Uses a protocol similar to JSON-RPC and uses HTTP and the WebSocket protocol for transport. (TypeScript, WebSocket)

## Frontend

- **Forms** library: supports different data types CSV, FormData and JSON. Contains inline and block-type frontend components. (Svelte, TypeScript SASS)
- **Time-series** visualization (D3, TypeScript, SASS, Svelte)

## Backend

- **DSP App**. This project was made for the down-stream-processing (purification) department of [Inbiose](https://inbiose.com), a microbiological lab in Ghent. It allows users to log process parameters and sample data in a structured way. Additionally, it can parse large data files to create reports. (PostgreSQL, HTML, TypeScript, SASS, Python, Node.JS, Express)
- Database migration scripts for biological data such as DNA and amino acid sequences. (PostgreSQL, SQLite, MariaDB)

## Embedded

- Small fermentation **reactor control**. Communication happens over COM ports with control and measurement devices (PostgreSQL, Rust, Python).
