# C++ Standard Template Library (STL)

Work in progress.

Collection of useful data structures and algorithms in C++.

See

- <https://en.wikipedia.org/wiki/Standard_Template_Library>
- <https://www.geeksforgeeks.org/the-c-standard-template-library-stl/>

It is not available by default on the Arduino and a special version of STL has to be downloaded.
