# Python

Favorite books on Python:

- [Crash Course](https://www.amazon.com/Python-Crash-Course-Eric-Matthes/dp/1718502702)

Personal writings on Python:

1. [Functional programming Python](./01-fp)
2. [Object-oriented programming in Python](./02-oop)
3. [Interfaces in Python](./03-interfaces)
4. [Generic programming](./04-generic)
5. [Scientific computing](./05-sci)
6. [Deep learning](./06-dl)
