# Design patterns in Rust

Existing literature:

- Search for de acronyms SOLID and DRY.
- More advanced specific patterns to Rust can be found on <https://rust-unofficial.github.io/patterns>

See [pub-sub](../../ts/06-pub-sub/).

Work-in-progress.
