# Programming languages

I keep track of my progress on learning programming languages here.

General books on programming languages:

- https://www.amazon.com/Types-Programming-Languages-MIT-Press/dp/0262162091
- https://shop.elsevier.com/books/programming-language-pragmatics/scott/978-0-12-410409-9


On order of most-loved to most-detested:

1. [Rust](./01-rs)
2. [Agda](./02-agda)
3. [TypeScript](./03-ts)
4. [Python](./04-py)
3. [C++](./05-cpp)
4. [R](./06-r)