<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rust software engineer / scientist -- Willem Vanhulle</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <aside id="sidebar">

        <ul id="post-list">
            <li id="home-button">
                <a href="/">
                    Home
                </a>

            </li>

            {% set section = get_section(path="blog/_index.md") %}
            {% for page in section.pages %}
            <li class="post-item">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </aside>



    <main>

        {% block content %}{% endblock %}

    </main>



</body>

</html>