<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="/logo.png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles.css">

    {% block head %}
    {% endblock %}


    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Willem Vanhulle's blog"
        href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
    {% endblock %}
</head>

<body>
    <aside id="sidebar">

        <a href="/">
            <img src="/logo.png">
        </a>

        <ul id="navigation_links">
            <li id="home-button">
                <a href="/">
                    About
                </a>

            </li>

            {% set blog_section = get_section(path="blog/_index.md") %}
            <li class="section_block">
                <a href="/blog">{{ blog_section.title }}</a>
                <ul class="section_page_list">
                    {% set active_section = blog_section %}
                    {% if blog_section.subsections %}
                    {% for sub_section_path in blog_section.subsections %}
                    {% set sub_section = get_section(path=sub_section_path) %}
                    <li class="section_page_link">
                        <a href="{{ sub_section.permalink }}">{{ sub_section.title }}</a>
                    </li>
                    {% if section and section.path == sub_section.path %}
                    {% set active_section = sub_section %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% for page in active_section.pages %}
                    <li class="section_page_link">
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </li>

        </ul>


        <a href="" id="back-to-top">
            ↑ </a>

    </aside>



    <main>

        {% block content %}{% endblock %}

    </main>



</body>

</html>