{% extends "page.html" %}


{% block content %}

<div class="bio">

    <header>

        <h1>Willem Vanhulle</h1>
        <h3>Software engineer / scientist</h3>
        <h4>Ghent, Belgium</h4>

    </header>

    <img src="/willem.jpg" alt="Willem Vanhulle">






    <code>Rust | Agda | Coq | Haskell</code>



    <p>
        I build robust, high-performance software for distributed systems, embedded robotics, and
        reactive
        user interfaces. Passionate mentor and systems programming advocate.
    </p>

    <p>
        Founder of <a href="https://sysghent.be">SysGhent</a>, a group for systems programmers around
        Ghent,
        Belgium.
    </p>



    <nav>
        <a href="mailto:willemvanhulle@protonmail.com">Email</a> |
        <a href="tel:+32479080252">Phone</a> |
        <a href="https://github.com/wvhulle">GitHub</a> |
        <a href="/cv.pdf">CV</a> |
        <a href="https://www.linkedin.com/in/willem-vanhulle-2657aa180/">LinkedIn</a>
    </nav>

</div>


{% endblock content %}