{% extends "page.html" %}

{% block header %}

<title>{{ config.title }}</title>

{% endblock %}


{% block content %}

<div class="bio">

    <header>

        <h1>Willem Vanhulle</h1>
        <h3>Developer / Instructor</h3>
        <h4>Ghent, Belgium</h4>

    </header>

    <img src="/willem.jpg" alt="Willem Vanhulle">





    <p>
        I build safe and robust systems software for embedded, back-end, robotics and distributed systems. I
        am also a passionate teacher and give trainings to groups and individuals.
    </p>

    <p>
        In my spare time I organize <a href="https://sysghent.be">SysGhent</a>, an open community for systems
        programmers around Ghent,
        Belgium and play with micro-controllers.
    </p>




    <div id="announcement">
        <h2>"Creating Safe Systems with Rust"</h2>
        <h3 id="course-title">(New in-depth Rust course in Ghent!)</h3>
        <p>
            I am teaching an in-depth Rust course in Ghent from November 4, 2025 until December 17, 2025. Read more
            information and sign-up <a href="https://pretix.eu/devlab/rust-course/">here</a>!
        </p>

    </div>


    <nav>
        <a href="mailto:willemvanhulle@protonmail.com">Email</a> |
        <a href="tel:+32479080252">Phone</a> |
        <a href="https://github.com/wvhulle">GitHub</a> |
        <a href="https://github.com/wvhulle/cv/blob/main/resume.pdf">CV</a> |
        <a href="https://www.linkedin.com/in/willem-vanhulle-2657aa180/">LinkedIn</a>
    </nav>



</div>


{% endblock content %}