{% extends "page.html" %}

{% block header %}

<title>{{ config.title }}</title>

{% endblock %}


{% block content %}

<div class="bio">

    <header>

        <h1>Willem Vanhulle</h1>
        <h3>Software engineer / scientist</h3>
        <h4>Ghent, Belgium</h4>

    </header>

    <img src="/willem.jpg" alt="Willem Vanhulle">


    <p>

        ♡
        <br />
        <code>Rust | Haskell | Julia</code>

        <br />
        <code>Agda | Coq |  Lean</code>
    </p>



    <p>
        I build safe, robust and high-performance software for embedded, back-end, robotics and distributed systems. I
        am also a passionate
        teacher and mentor.
    </p>

    <p>
        In my spare time I organize <a href="https://sysghent.be">SysGhent</a>, an open community for systems
        programmers around Ghent,
        Belgium and play with micro-controllers.
    </p>



    <nav>
        <a href="mailto:willemvanhulle@protonmail.com">Email</a> |
        <a href="tel:+32479080252">Phone</a> |
        <a href="https://github.com/wvhulle">GitHub</a> |
        <a href="/cv.pdf">CV</a> |
        <a href="https://www.linkedin.com/in/willem-vanhulle-2657aa180/">LinkedIn</a>
    </nav>

</div>


{% endblock content %}