{% extends "base.html" %}


{% block head %}

<!-- Comments with GitHub discussions -->
<script src="https://giscus.app/client.js" data-repo="wvhulle/wvhulle.github.io" data-repo-id="R_kgDOGmD5MA"
    data-category="Comments" data-category-id="DIC_kwDOGmD5MM4Cpsng" data-mapping="title" data-strict="1"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="light_high_contrast"
    data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
    </script>
<title>


    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ config.title }}
    {% endif %}



</title>
{% endblock %}


{% block content %}
<article>

    <header>


        <h1 class="title">
            {{ page.title }}
        </h1>



        <ul class="tags">
            {%- for tag in page.taxonomies.tags -%}
            <li><a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a></li>
            {%- endfor -%}

        </ul>

        <p class="post_date">{{ page.date | date(format="%A, %Y-%m-%d") }}</p>


        {%- if page.taxonomies and page.taxonomies.tags -%}



        {%- else -%}
        <h4>Uncategorised</h4>

        {%- endif -%}

        <p class="subtitle">
            {{ page.description }} <a href="#comments">Comments</a>.
        <p>



    </header>


    {% if page.lower %}
    <p> Previous post:
        <a href="{{ page.lower.permalink | safe }}">{{ page.lower.title }}</a>.
    </p>

    {% endif %}



    {% if page.toc %}
    <ul class="post_top_headers">
        {% for h1 in page.toc %}
        <li>


            {% if h1.children %}
            <details>

                <summary>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                </summary>
                <ul>
                    {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </details>
            {% else %}
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    {{ page.content | safe }}


    <section id="comments" class="giscus"></section>


</article>



<footer>



    {% if page.lower %}
    <span>←
        <a href="{{ page.lower.permalink | safe }}">{{ page.lower.title }}</a> </span>


    {% endif %}

    {% if page.higher %}
    <span>
        <a href="{{ page.higher.permalink | safe }}">{{ page.higher.title }}</a> → </span>


    {% endif %}
</footer>

{% endblock content %}