# About

I'm a Belgian software engineer, working at OTIV in Ghent, Belgium. OTIV is a company that writes software to control railway vehicles and make them safer.

You can reach me through e-mail at [willemvanhulle@gmail.com](mailto:willemvanhulle@gmail.com) or at [LinkedIn](https://www.linkedin.com/in/willem-vanhulle-2657aa180/) or
[GitHub](https://github.com/wvhulle).

I'm eager to contribute to challenging projects using open software.
